pipeline/JSONAPIPipeline.json
{
	"name": "JSONAPIPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetJSONFromAPI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummyjson.com/carts"
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "GetJSONFromAPI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Failed to get data",
					"errorCode": {
						"value": "@activity('GetJSONFromAPI').output.pipelineReturnValue",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}