pipeline/LaureatsPipeline.json
{
	"name": "LaureatsPipeline",
	"properties": {
		"activities": [
			{
				"name": "CopyFromAPIToJSONBlob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "LaureatesDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TempJSONStore",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "InjestFailure",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "CopyFromAPIToJSONBlob",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Failed to retrieve data from API",
					"errorCode": {
						"value": "@activity('CopyFromAPIToJSONBlob').output.pipelineReturnValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TransfromData",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CopyFromAPIToJSONBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Dataflow",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CopyToSQLServerSink",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "TransfromData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "TempJSONStore",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TempJSONStore",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "TransformFailure",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "TransfromData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Failed to retrieve data from API",
					"errorCode": {
						"value": "@activity('CopyFromAPIToJSONBlob').output.pipelineReturnValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LoadFailure",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "CopyToSQLServerSink",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Failed to retrieve data from API",
					"errorCode": {
						"value": "@activity('CopyFromAPIToJSONBlob').output.pipelineReturnValue",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}